@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,600;0,700;1,300&display=swap');
 :root {
    --footer-text: #A9A9A9;
    --background-color: #E5E5E5;
    --header-title: #4E5150;
    --header-subtitle: #A9A9A9;
    --author-text: #4E5150;
}

*,
 ::after,
 ::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
}

img {
    max-width: 100%;
    object-fit: cover;
    border-radius: 20px;
}

header {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: center;
    margin: 10px;
    color: var(--header-title);
    font-size: 24px;
}

header p {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: var(--header-subtitle);
}

header img {
    width: 156px;
    height: 156px;
    border-radius: 30%;
}

nav.author--information {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 5px;
}

nav.author--information span {
    width: 100px;
    height: 67px;
    margin: 5px;
    padding: 5px;
    line-height: 29px;
    text-align: center;
    vertical-align: middle;
    background: var(--background-color);
    border-radius: 16px;
}

nav.author--information h3 {
    font-size: 18px;
    color: var(--author-text);
}

nav.author--information span p {
    font-size: 14px;
    color: var(--author-text);
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-gap: 1rem;
    margin: 0 20%;
}

.grid img {
    border-radius: 20px;
}

img {
    max-width: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.one {
    grid-column: 1/2;
    grid-row: 1/2;
}

.two {
    grid-column: 2/4;
    grid-row: 1/2;
}

.three {
    grid-column: 1/3;
    grid-row: 2/3;
}

.four {
    grid-column: 3 / 4;
    grid-row: 2 / 4;
}

.five {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
}

.six {
    grid-column: 1 / 2;
    grid-row: 3/ 4;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    left: 43%;
    position: absolute;
    height: 32px;
}

footer a {
    font-weight: 600;
    font-size: 14px;
    line-height: 32px;
    color: var( --footer-text);
}

@media all and (max-width: 728px) {
    .grid {
        display: grid;
        grid-template-columns: repeat(3, auto);
        grid-gap: 0.2rem;
        margin: 0 10%;
    }
    header {
        font-size: 14px;
        font-size: 0.5rem;
        font-weight: 600;
    }
    header p {
        font-size: 10px;
    }
    nav.author--information span p,
    h3 {
        font-size: 10px;
    }
    nav.author--information span {
        width: 78px;
        height: 52px;
        margin: 5px;
        padding: 5px;
        line-height: 20px;
        border-radius: 12px;
    }
    footer {
        margin: 0 auto;
        display: inline-flex;
        margin: 0 auto;
        left: 14%;
        position: absolute;
        line-height: 4;
        font-size: 9px;
    }
    footer a {
        font-size: 9px;
        color: var( --footer-text);
    }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
    .grid {
        display: grid;
        grid-template-columns: repeat(3, auto);
        grid-gap: 0.2rem;
        margin: 0 5%;
    }
    header {
        font-size: 12px;
        font-weight: 600;
    }
    header p {
        font-size: 10px;
    }
    nav.author--information span p,
    h3 {
        font-size: 10px;
    }
    nav.author--information span {
        width: 69px;
        height: 52px;
        margin: 5px;
        padding: 5px;
        line-height: 20px;
        border-radius: 12px;
    }
}