            @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
             :root {
                --text-h1: #4E5150;
                --text-body: #333;
                --text-label: #4F4F4F;
                --input-box: #828282;
                --counter-background: #E0E0E0;
                --text-black: #000;
                --price-color: #F2994A;
            }
            
            body {
                min-height: 100%;
                margin: 0;
                padding: 0;
                color: var(--text-body);
            }
            
            .container {
                max-width: 1024px
            }
            
            fieldset {
                border: none;
                display: flex;
                justify-content: center;
            }
            
            .header {
                position: relative;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                margin: 50px 13%;
            }
            
            h1,
            h2,
            h5 {
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 600;
            }
            
            h5 {
                font-size: 18px;
                line-height: 22px;
                color: var(--text-body);
            }
            
            .header h1 {
                font-size: 36px;
                line-height: 34px;
                color: var(--text-body);
            }
            
            h2 {
                width: 181px;
                height: 22px;
                left: 239px;
                top: 159.06px;
                font-size: 18px;
                line-height: 22px;
                color: var(--text-h2);
            }
            
            i.fa:before {
                color: var(--input-box);
            }
            
            p.price {
                color: var(--price-color);
                font-weight: 600;
                font-size: 16px;
                line-height: 30px;
            }
            
            p.price s {
                font-weight: 600;
                font-size: 12px;
                line-height: 15px;
                text-decoration-line: line-through;
                color: #4E5150;
            }
            
            .main__container {
                display: flex;
                justify-content: space-evenly;
                flex-direction: row-reverse;
                margin: 4%;
            }
            
            .form__container {
                width: 50%;
                padding: 3%;
            }
            
            .form__container>form {
                font-family: 'Montserrat';
                font-weight: 600;
                font-size: 18px;
                line-height: 22px;
                /* identical to box height */
                /* Gray 1 */
                color: var(--text-body);
            }
            
            .form__container .mb-4 label,
            .form__container .mb-6 label {
                color: var(--text-label);
                font-size: 12px;
                line-height: 15px;
            }
            
            .cart__container {
                width: 383px;
                height: 535px;
                left: 817px;
                top: 170px;
                padding: 3%;
                /* Gray 6 */
                background: #F2F2F2;
                border-radius: 12px;
            }
            
            .cart__container img {
                width: 100px;
                height: 100px;
                border-radius: 12px;
            }
            
            .cart__container .first__item,
            .cart__container .second__item {
                display: flex;
                justify-content: space-evenly;
            }
            
            .counter__block {
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                position: relative;
                left: 6%;
                border: 1px solid #828282;
                box-sizing: border-box;
                border-radius: 12px;
                width: 134px;
                height: 52px;
            }
            
            .counter__block button#additional__counter {
                width: 30px;
                height: 21px;
                line-height: 1;
                background: var(--counter-background);
                border-radius: 5px;
                color: var(--text-black);
            }
            
            p#counter {
                width: 20px;
                height: 20px;
            }
            
            .counter__block button#minus__counter {
                width: 20px;
                height: 20px;
                line-height: 1;
                background: var(--counter-background);
                border-radius: 5px;
                color: var(--text-black);
            }
            
            .total__amount .flex-1 {
                font-weight: 600;
                font-size: 14px;
                line-height: 17px;
                text-align: right;
            }
            
            .rounded {
                border-radius: 12px;
            }
            
            .submit__button {
                display: flex;
                justify-content: flex-end;
                align-items: center;
                top: 4%;
                position: relative;
            }
            
            .submit__button button {
                position: absolute;
                width: 166px;
                height: 54px;
            }
            
            footer {
                position: relative;
                bottom: 0;
                display: inline-flex;
                justify-content: center;
                left: 37%;
            }
            /* Responsive styles */
            
            @media all and (max-width:768px) {
                .header {
                    position: relative;
                    margin: 20px 50px;
                }
                .container {
                    padding: 40px;
                    margin: 0 auto;
                }
                .max-w-lg {
                    width: 100%;
                }
                .main__container {
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                }
                .cart__container {
                    width: 100%;
                }
                .form__container {
                    width: 100%;
                }
            }